Repository salekseev/helm-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, helm-unittest, conftest-policies, values-schema-validation

helm-lint:
  name: Helm Lint
  description: Runs helm lint on the chart
  entry: bash -c 'cd charts/spicedb && helm lint . --strict'
  language: system
  pass_filenames: false

helm-unittest:
  name: Helm Unit Tests
  description: Runs helm unittest on the chart
  entry: bash -c 'cd charts/spicedb && helm unittest --color .'
  language: system
  pass_filenames: false

conftest-policies:
  name: Conftest Policy Validation
  description: Validates example manifests against OPA policies
  entry: bash -c 'cd charts/spicedb && conftest test -p policies/ policies/examples/compliant-deployment.yaml'
  language: system
  pass_filenames: false

values-schema-validation:
  name: Values Schema Validation
  description: Validates values.yaml against values.schema.json
  entry: bash -c 'cd charts/spicedb && helm lint . --strict --values values.yaml'
  language: system
  pass_filenames: false

fix: make conftest pre-commit hook optional
  .pre-commit-config.yaml
Due: none

fix: restore mandatory conftest policy validation in pre-commit
  .pre-commit-config.yaml
Due: none

docs: update README to reflect OCI registry publishing
  README.md
Due: none

ci: skip integration tests on draft PRs to save resources
  .github/workflows/ci.yaml
Due: none

fix: add identities to octo-sts policy for release automation
  .github/chainguard/salekseev_helm-charts.sts.yaml
Due: none

fix: create separate octo-sts policy files per identity
  .github/chainguard/chart-publisher.sts.yaml
  .github/chainguard/release-please.sts.yaml
Due: none

refactor: simplify publish-chart to use standard GITHUB_TOKEN
  .github/chainguard/chart-publisher.sts.yaml
  .github/workflows/publish-chart.yaml
Due: none

chore: remove unused salekseev_helm-charts STS configuration file
  .github/chainguard/salekseev_helm-charts.sts.yaml
Due: none

fix: extract semver version from release tag in publish-chart
  .github/workflows/publish-chart.yaml
Due: none

refactor: move networkpolicy test values to values-examples directory
  charts/spicedb/values-examples/networkpolicy.yaml
Due: none

test: add missing networkpolicy test coverage
  charts/spicedb/tests/unit/networkpolicy_test.yaml
Due: helm-unittest

fix: configure chart-testing to skip version increment check
  .github/ct.yaml
  .github/workflows/ci.yaml
Due: none

fix: configure chart-testing to skip version increment check (#7)
  .github/ct.yaml
  .github/workflows/ci.yaml
  charts/spicedb/tests/unit/networkpolicy_test.yaml
  charts/spicedb/values-examples/networkpolicy.yaml
Due: helm-unittest

fix: resolve race condition in PostgreSQL deployment wait
  charts/spicedb/tests/integration/migration-test.sh
Due: none

refactor: split CI workflows into required and optional checks
  .github/workflows/README.md
  .github/workflows/ci-integration.yaml
  .github/workflows/ci-unit.yaml
  CONTRIBUTING.md
Due: none

fix: resolve race condition in PostgreSQL deployment wait (#9)
  charts/spicedb/tests/integration/migration-test.sh
Due: none

refactor: split CI workflows into required and optional checks (#10)
  .github/workflows/README.md
  .github/workflows/ci-integration.yaml
  .github/workflows/ci-unit.yaml
  CONTRIBUTING.md
Due: none

chore: configure Dependabot for automated dependency updates
  .github/dependabot.yml
Due: none

chore: add Dependabot config and remove old CI workflow
  .github/dependabot.yml
  .github/workflows/ci.yaml
Due: none

fix: include patch version updates for container images
  .github/dependabot.yml
Due: none

chore: add Dependabot config and remove old CI workflow (#12)
  .github/dependabot.yml
  .github/workflows/ci.yaml
Due: none

chore: add Dependabot config and remove old CI workflow
  .github/dependabot.yml
Due: none

fix: restore backward-compatible defaults and add cloud workload identity support
  charts/spicedb/README.md
  charts/spicedb/values.yaml
Due: helm-lint, helm-unittest, values-schema-validation

fix: disable autogenerateSecret in CI preset validation tests
  .github/workflows/ci-unit.yaml
Due: none

fix: prevent migration hooks from failing when secret is not available
  charts/spicedb/templates/hooks/migration-cleanup.yaml
  charts/spicedb/templates/hooks/migration-job.yaml
  charts/spicedb/templates/hooks/migration-validation.yaml
Due: helm-lint, helm-unittest

docs: reorganize documentation following AI Developer Guide principles
  charts/spicedb/README.md
  charts/spicedb/docs/configuration/presets.md
  charts/spicedb/docs/development/tech-debt.md
  charts/spicedb/docs/development/testing.md
  charts/spicedb/docs/migration/helm-to-operator.md
  charts/spicedb/docs/migration/operator-comparison.md
  charts/spicedb/docs/migration/operator-to-helm.md
  charts/spicedb/docs/operations/status-script.md
  charts/spicedb/docs/quickstart.md
  charts/spicedb/scripts/README.md
  charts/spicedb/values-presets/README.md
Due: none

chore: clean up temporary test artifacts and update .gitignore
  .gitignore
Due: none

docs: add operator-to-helm migration integration test coverage to tech debt
  charts/spicedb/docs/development/tech-debt.md
Due: none

refactor: reorganize documentation following AI Developer Guide
  charts/spicedb/README.md
  charts/spicedb/docs/CHANGELOG.md
  charts/spicedb/docs/guides/production.md
  charts/spicedb/docs/guides/security.md
  charts/spicedb/docs/guides/troubleshooting.md
  charts/spicedb/docs/guides/upgrading.md
Due: none

docs: document AI Developer Guide compliance status and remaining work
  charts/spicedb/docs/development/tech-debt.md
Due: none

docs: clean up resolved issues from tech-debt.md
  charts/spicedb/docs/development/tech-debt.md
Due: none

docs: move automated release process to 'already implemented' section
  charts/spicedb/docs/development/tech-debt.md
Due: none

docs: remove non-issues section from tech-debt.md
  charts/spicedb/docs/development/tech-debt.md
Due: none

docs: correct dispatch and PDB comments to focus on operator parity
  charts/spicedb/values.yaml
Due: helm-lint, helm-unittest, values-schema-validation

fix: address PR review comments for security and operator parity
  charts/spicedb/templates/_helpers.tpl
  charts/spicedb/tests/hooks/migration-cleanup_test.yaml
  charts/spicedb/tests/hooks/migration-job_test.yaml
  charts/spicedb/tests/hooks/migration-validation_test.yaml
  charts/spicedb/tests/unit/datastore_test.yaml
  charts/spicedb/tests/unit/deployment-annotations_test.yaml
  charts/spicedb/tests/unit/deployment_test.yaml
  charts/spicedb/tests/unit/patches_test.yaml
  charts/spicedb/values-presets/development.yaml
  charts/spicedb/values.yaml
Due: helm-lint, helm-unittest, values-schema-validation

feat!: achieve true operator parity with default values
  charts/spicedb/tests/hooks/migration-job_test.yaml
  charts/spicedb/tests/hooks/migration-validation_test.yaml
  charts/spicedb/tests/unit/deployment_test.yaml
  charts/spicedb/tests/unit/patches_test.yaml
  charts/spicedb/values-presets/development.yaml
  charts/spicedb/values.yaml
Due: helm-lint, helm-unittest, values-schema-validation

docs: clarify 2 replicas provides sufficient HA for SpiceDB
  charts/spicedb/README.md
  charts/spicedb/docs/guides/production.md
  charts/spicedb/docs/quickstart.md
Due: none

feat: align production presets with operator minimal HA defaults
  charts/spicedb/README.md
  charts/spicedb/docs/configuration/presets.md
  charts/spicedb/tests/unit/preset_production_cockroachdb_test.yaml
  charts/spicedb/tests/unit/preset_production_postgres_test.yaml
  charts/spicedb/values-presets/production-cockroachdb.yaml
  charts/spicedb/values-presets/production-ha.yaml
  charts/spicedb/values-presets/production-postgres.yaml
Due: helm-unittest

docs: reduce YAML comment verbosity by 59-69%
  charts/spicedb/examples/cloud-workload-identity.yaml
  charts/spicedb/examples/patches-examples.yaml
  charts/spicedb/tests/unit/preset_production_ha_test.yaml
  charts/spicedb/values-presets/development.yaml
  charts/spicedb/values-presets/production-cockroachdb.yaml
  charts/spicedb/values-presets/production-ha.yaml
  charts/spicedb/values-presets/production-postgres.yaml
  charts/spicedb/values.yaml
Due: helm-lint, helm-unittest, values-schema-validation

Path conditions:
  helm-lint: any of: charts/spicedb/(Chart\.yaml|values\.yaml|templates/.*\.yaml|templates/.*\.tpl), but not: (?x)^(
    \.taskmaster/.*|
    \.git/.*|
    \.github/.*|
    .*\.md$
)

  helm-unittest: any of: charts/spicedb/(values\.yaml|templates/.*\.yaml|templates/.*\.tpl|tests/.*_test\.yaml), but not: (?x)^(
    \.taskmaster/.*|
    \.git/.*|
    \.github/.*|
    .*\.md$
)

  conftest-policies: any of: charts/spicedb/policies/.*\.rego, but not: (?x)^(
    \.taskmaster/.*|
    \.git/.*|
    \.github/.*|
    .*\.md$
)

  values-schema-validation: any of: charts/spicedb/(values\.yaml|values\.schema\.json), but not: (?x)^(
    \.taskmaster/.*|
    \.git/.*|
    \.github/.*|
    .*\.md$
)

