Repository salekseev/helm-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, helm-unittest, conftest-policies, values-schema-validation

helm-lint:
  name: Helm Lint
  description: Runs helm lint on the chart
  entry: bash -c 'cd charts/spicedb && helm lint . --strict'
  language: system
  pass_filenames: false

helm-unittest:
  name: Helm Unit Tests
  description: Runs helm unittest on the chart
  entry: bash -c 'cd charts/spicedb && helm unittest --color .'
  language: system
  pass_filenames: false

conftest-policies:
  name: Conftest Policy Validation
  description: Validates example manifests against OPA policies
  entry: bash -c 'cd charts/spicedb && conftest test -p policies/ policies/examples/compliant-deployment.yaml'
  language: system
  pass_filenames: false

values-schema-validation:
  name: Values Schema Validation
  description: Validates values.yaml against values.schema.json
  entry: bash -c 'cd charts/spicedb && helm lint . --strict --values values.yaml'
  language: system
  pass_filenames: false

feat: consolidate production-ha into production-postgres and fix cloud workload identity
  charts/spicedb/README.md
  charts/spicedb/docs/configuration/presets.md
  charts/spicedb/docs/guides/production.md
  charts/spicedb/docs/quickstart.md
  charts/spicedb/examples/cloud-workload-identity.yaml
  charts/spicedb/tests/unit/preset_production_ha_test.yaml
  charts/spicedb/tests/unit/preset_production_postgres_test.yaml
  charts/spicedb/values-presets/README.md
  charts/spicedb/values-presets/production-ha.yaml
  charts/spicedb/values-presets/production-postgres.yaml
Due: helm-unittest

ci: fix preset validation for 3 presets (removed production-ha)
  .github/workflows/ci-unit.yaml
Due: none

fix: align schema default for autogenerateSecret with values.yaml
  charts/spicedb/values.schema.json
Due: values-schema-validation

fix: enable autogenerateSecret in integration tests
  charts/spicedb/tests/integration/migration-test.sh
Due: none

feat: upgrade integration tests to multi-node Kind cluster with dispatch
  charts/spicedb/tests/integration/migration-test.sh
Due: none

refactor: extract Kind cluster config to shared file
  .github/workflows/ci-integration.yaml
  charts/spicedb/tests/integration/kind-cluster-config.yaml
  charts/spicedb/tests/integration/migration-test.sh
Due: none

fix: disable dispatch for single-replica integration test baseline
  charts/spicedb/tests/integration/migration-test.sh
Due: none

fix: use kubectl image for migration validation hook
  charts/spicedb/templates/hooks/migration-validation.yaml
Due: helm-lint, helm-unittest

test: update migration validation tests for kubectl image
  charts/spicedb/tests/hooks/migration-validation_test.yaml
Due: helm-unittest

test: wait for post-install/upgrade cleanup hooks to complete
  charts/spicedb/tests/integration/migration-test.sh
Due: none

fix: use Recreate strategy for dispatch-enabled deployments
  charts/spicedb/templates/_helpers.tpl
Due: helm-lint, helm-unittest

test: increase startup probe timeout for dispatch readiness
  charts/spicedb/tests/integration/migration-test.sh
Due: none

fix(test): use two-stage upgrade for dispatch HA testing
  charts/spicedb/tests/integration/migration-test.sh
Due: none

fix: use RollingUpdate with maxUnavailable=0 for dispatch HA
  charts/spicedb/templates/_helpers.tpl
Due: helm-lint, helm-unittest

chore: remove example API keys from .env.example
  .env.example
Due: none

fix(test): simplify upgrade to single-stage with HA+dispatch
  charts/spicedb/tests/integration/migration-test.sh
Due: none

fix: install with dispatch+HA to avoid pod template hash changes
  charts/spicedb/templates/_helpers.tpl
  charts/spicedb/tests/integration/migration-test.sh
Due: helm-lint, helm-unittest

fix(test): install with single replica without dispatch to avoid deadlock
  charts/spicedb/tests/integration/migration-test.sh
Due: none

fix: use 3-stage upgrade to avoid dispatch bootstrap deadlock
  charts/spicedb/tests/integration/migration-test.sh
Due: none

test: use chart defaults (HA + dispatch) with extended startup probes
  charts/spicedb/tests/integration/migration-test.sh
Due: none

feat: enable kubernetes:// service discovery for dispatch cluster
  charts/spicedb/docs/guides/production.md
  charts/spicedb/templates/_helpers.tpl
  charts/spicedb/templates/rbac.yaml
  charts/spicedb/tests/integration/migration-test.sh
  charts/spicedb/values.yaml
Due: helm-lint, helm-unittest, values-schema-validation

refactor: address PR review comments
  charts/spicedb/templates/deployment.yaml
  charts/spicedb/templates/secret.yaml
  charts/spicedb/tests/unit/deployment_test.yaml
Due: helm-lint, helm-unittest

fix: add secret validation and fix migration log level default
  charts/spicedb/templates/hooks/migration-validation.yaml
  charts/spicedb/templates/validation.yaml
Due: helm-lint, helm-unittest

fix(docs): correct CI badge workflow reference in SpiceDB README
  charts/spicedb/README.md
Due: none

fix(docs): correct CI badge workflow reference in SpiceDB README (#22)
  charts/spicedb/README.md
Due: none

feat: SpiceDB chart v2.0 operator parity and production enhancements
  .github/workflows/README.md
  .github/workflows/ci-unit.yaml
  .github/workflows/ci-upgrade.yaml
  charts/spicedb/Chart.yaml
  charts/spicedb/Makefile
  charts/spicedb/docs/CHANGELOG.md
  charts/spicedb/docs/development/tech-debt.md
  charts/spicedb/docs/guides/upgrading.md
  charts/spicedb/docs/migration/v1-to-v2.md
  charts/spicedb/templates/_helpers-datastore.tpl
  charts/spicedb/templates/_helpers-deployment.tpl
  charts/spicedb/templates/_helpers-labels.tpl
  charts/spicedb/templates/_helpers-operator.tpl
  charts/spicedb/templates/_helpers-patches.tpl
  charts/spicedb/templates/_helpers-tls.tpl
  charts/spicedb/templates/_helpers.tpl
  charts/spicedb/templates/migration-status-configmap.yaml
  charts/spicedb/tests/integration/README.md
  charts/spicedb/tests/integration/migration/operator-to-helm/README.md
  charts/spicedb/tests/integration/migration/operator-to-helm/cleanup-cluster.sh
  charts/spicedb/tests/integration/migration/operator-to-helm/common/convert-cr-to-values.sh
  charts/spicedb/tests/integration/migration/operator-to-helm/common/validation-checks.sh
  charts/spicedb/tests/integration/migration/operator-to-helm/fixtures/complex-cluster.yaml
  charts/spicedb/tests/integration/migration/operator-to-helm/fixtures/minimal-cluster.yaml
  charts/spicedb/tests/integration/migration/operator-to-helm/run-all-tests.sh
  charts/spicedb/tests/integration/migration/operator-to-helm/setup-cluster.sh
  charts/spicedb/tests/integration/self-healing-test.sh
  charts/spicedb/tests/unit/deployment-annotations_test.yaml
  charts/spicedb/tests/unit/deployment_test.yaml
  charts/spicedb/tests/unit/migration-status-configmap_test.yaml
  charts/spicedb/tests/unit/patches_test.yaml
  charts/spicedb/tests/unit/probes_test.yaml
  charts/spicedb/values-presets/README.md
  charts/spicedb/values-presets/production-ha.yaml
  charts/spicedb/values.yaml
Due: helm-lint, helm-unittest, values-schema-validation

fix(ci): remove validate flag from preset testing
  .github/workflows/ci-unit.yaml
Due: none

fix(ci): remove validate flag from schema validation step
  .github/workflows/ci-unit.yaml
Due: none

refactor: remove v1.x chart migration content, focus on operator compatibility
  .github/workflows/README.md
  .github/workflows/ci-upgrade.yaml
  charts/spicedb/docs/CHANGELOG.md
  charts/spicedb/docs/development/tech-debt.md
  charts/spicedb/docs/guides/upgrading.md
  charts/spicedb/docs/migration/v1-to-v2.md
Due: none

refactor: remove redundant production-ha preset
  .github/workflows/ci-unit.yaml
  charts/spicedb/docs/CHANGELOG.md
  charts/spicedb/docs/operations/status-script.md
  charts/spicedb/examples/production-ha.yaml
  charts/spicedb/values-presets/README.md
  charts/spicedb/values-presets/production-ha.yaml
Due: none

fix: align default values with spicedb-operator defaults
  charts/spicedb/tests/unit/deployment_test.yaml
  charts/spicedb/tests/unit/patches_test.yaml
  charts/spicedb/tests/unit/probes_test.yaml
  charts/spicedb/values.yaml
Due: helm-lint, helm-unittest, values-schema-validation

feat: SpiceDB chart v2.0 - Operator parity and production enhancements (#23)
  .github/workflows/README.md
  .github/workflows/ci-unit.yaml
  charts/spicedb/Chart.yaml
  charts/spicedb/Makefile
  charts/spicedb/docs/CHANGELOG.md
  charts/spicedb/docs/development/tech-debt.md
  charts/spicedb/docs/guides/upgrading.md
  charts/spicedb/docs/operations/status-script.md
  charts/spicedb/examples/production-ha.yaml
  charts/spicedb/templates/_helpers-datastore.tpl
  charts/spicedb/templates/_helpers-deployment.tpl
  charts/spicedb/templates/_helpers-labels.tpl
  charts/spicedb/templates/_helpers-operator.tpl
  charts/spicedb/templates/_helpers-patches.tpl
  charts/spicedb/templates/_helpers-tls.tpl
  charts/spicedb/templates/_helpers.tpl
  charts/spicedb/templates/migration-status-configmap.yaml
  charts/spicedb/tests/integration/README.md
  charts/spicedb/tests/integration/migration/operator-to-helm/README.md
  charts/spicedb/tests/integration/migration/operator-to-helm/cleanup-cluster.sh
  charts/spicedb/tests/integration/migration/operator-to-helm/common/convert-cr-to-values.sh
  charts/spicedb/tests/integration/migration/operator-to-helm/common/validation-checks.sh
  charts/spicedb/tests/integration/migration/operator-to-helm/fixtures/complex-cluster.yaml
  charts/spicedb/tests/integration/migration/operator-to-helm/fixtures/minimal-cluster.yaml
  charts/spicedb/tests/integration/migration/operator-to-helm/run-all-tests.sh
  charts/spicedb/tests/integration/migration/operator-to-helm/setup-cluster.sh
  charts/spicedb/tests/integration/self-healing-test.sh
  charts/spicedb/tests/unit/deployment-annotations_test.yaml
  charts/spicedb/tests/unit/deployment_test.yaml
  charts/spicedb/tests/unit/migration-status-configmap_test.yaml
  charts/spicedb/tests/unit/probes_test.yaml
  charts/spicedb/values-presets/README.md
  charts/spicedb/values.yaml
Due: helm-lint, helm-unittest, values-schema-validation

style: fix markdown linting issues across all documentation
  .markdownlint.json
  .markdownlintignore
  CONTRIBUTING.md
  README.md
  charts/spicedb/README.md
  charts/spicedb/docs/configuration/presets.md
  charts/spicedb/docs/development/tech-debt.md
  charts/spicedb/docs/development/testing.md
  charts/spicedb/docs/guides/production.md
  charts/spicedb/docs/guides/security.md
  charts/spicedb/docs/guides/troubleshooting.md
  charts/spicedb/docs/guides/upgrading.md
  charts/spicedb/docs/migration/helm-to-operator.md
  charts/spicedb/docs/migration/operator-comparison.md
  charts/spicedb/docs/migration/operator-to-helm.md
  charts/spicedb/docs/operations/status-script.md
  charts/spicedb/docs/quickstart.md
  charts/spicedb/examples/README.md
  charts/spicedb/policies/README.md
  charts/spicedb/tests/README.md
  charts/spicedb/tests/integration/README.md
  charts/spicedb/tests/integration/migration/operator-to-helm/README.md
  charts/spicedb/values-presets/README.md
  scripts/README.md
Due: none

refactor: remove redundant docs/CHANGELOG.md file
  charts/spicedb/README.md
  charts/spicedb/docs/CHANGELOG.md
  charts/spicedb/docs/development/tech-debt.md
Due: none

chore: simplify markdownlint configuration
  .markdownlint.json
Due: none

chore: align markdownlint config with upstream project
  .markdownlint.json
Due: none

feat: add markdownlint enforcement to pre-commit and CI
  .github/workflows/markdown-lint.yaml
  .pre-commit-config.yaml
Due: none

Path conditions:
  helm-lint: any of: charts/spicedb/(Chart\.yaml|values\.yaml|templates/.*\.yaml|templates/.*\.tpl), but not: (?x)^(
    \.taskmaster/.*|
    \.git/.*|
    \.github/.*|
    .*\.md$
)

  helm-unittest: any of: charts/spicedb/(values\.yaml|templates/.*\.yaml|templates/.*\.tpl|tests/.*_test\.yaml), but not: (?x)^(
    \.taskmaster/.*|
    \.git/.*|
    \.github/.*|
    .*\.md$
)

  conftest-policies: any of: charts/spicedb/policies/.*\.rego, but not: (?x)^(
    \.taskmaster/.*|
    \.git/.*|
    \.github/.*|
    .*\.md$
)

  values-schema-validation: any of: charts/spicedb/(values\.yaml|values\.schema\.json), but not: (?x)^(
    \.taskmaster/.*|
    \.git/.*|
    \.github/.*|
    .*\.md$
)

